<header class="blog-header d-flex flex-column">
    <div class="container d-flex">
        <button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</header>